*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bricolage Grotesque, sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #5b6677;
}

.side-container{
    width: 100%;
    min-height: 100vh;
}

.side-container .sidebar{
    position: relative;
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    border-radius: 30px;
    transition: all .5s;
}

.side-container .sidebar .head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border: 1px solid #f6f6f6;
}

.side-container .sidebar .head .user-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.side-container .sidebar .head .user-img img{
    width: 100%;
    object-fit: cover;
}

.side-container .sidebar .head .user-details .title,
.sidebar .menu .title{
    font-size: 8px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.side-container .sidebar .head .user-details .name{
    font-size: 14px;
    font-weight: 500;
    color: #121212;
    margin-top: 4px;
}

.side-container .sidebar .menu ul li {
    margin-bottom: 5px;
    position: relative;
}

.side-container .nav{
    flex: 1;
}

.side-container  .menu ul a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all .3s;
}

.side-container  .menu ul li > a:hover,
.side-container  .menu ul li.active > a{
    color: black;
    background-color: #f6f6f6;
    transition: all .3s ease-in-out;
}

.side-container  .menu ul li .icon{
    font-size: 15px;
}

.side-container  .menu ul li .text{
    flex: 1;
}

.side-container  .menu ul li .arrow{
    font-size: 14px;
    transition: all .4s;
}

.sidebar  .menu ul li.active .arrow{
    transform: rotate(180deg);
}

.side-container  .menu .sub-menu{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
    display: none;
}

.side-container  .menu .sub-menu li a{
    padding: 10px 8px;
    font-size: 12px;
}

.side-container  .menu:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}

.menu-btn{
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #f6f6f6;
    background-color: #fff;
    color: #757575;
}

.menu-btn:hover i{
    color: #000;
}

.menu-btn i{
    transition: all .3s;
}

.sidebar.active{
    width: 92px;
}

.sidebar.active .menu-btn i{
    transform: rotate(180deg);
}

.sidebar.active .user-details{
    display: none;
}

.sidebar.active .menu .title{
    text-align: center;
}

.sidebar.active .menu > ul > li > a{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sidebar.active .menu ul li .arrow{
    display: none;
}

.sidebar.active .menu > ul > li > a .text{
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: black;
    opacity: 0;
    visibility: hidden;
}

.sidebar.active .menu > ul > li > a .text::after{
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .text{
    left: 50px;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

.sidebar.active .menu .sub-menu{
    position: absolute;
    left: 20px;
    top: 0;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}